 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm an ex-public finance professional turned full stack web developer. Having always been curious about technology, I learned the ropes of Ruby, Rails, Javascript, HTML, CSS and Git via the <a href="https://bitmakerlabs.com/"> Bitmaker Labs' </a> immersive web development bootcamp. I also hold a masters degree from the London School of Economics and an undergrad degree from the University of Toronto. </p>
                </div>
                <div class="col-lg-4">
                    <p>I love experimenting and making cool things, on and off the internet. In my spare time, you can find me hacking away on civic tech projects, organizing a <a class="rails-girls-link" href="https://twitter.com/railsgirlsTO"> Rails Girls TO </a> event, or lifting things at a crossfit gym.</p>
                    <br>
                    <p>Feel free to send me a line! I'd love to chat about how we could work together and make something amazing. </p>
                </div>
<!--                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resume
                    </a>
                </div>
 -->            </div>
        </div>
    </section>