    <!-- Footer -->
    <footer id="contact" class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row buffer-container">
                    <div class="footer-col col-md-12">
                        <div>
                            <h3>{{ site.footer.social }}</h3>
                        </div>
                        <div>
                            <p class="footer-text"> Send me a line! I'd love to chat about how we <br>  could work together and make something amazing.</p>
                        </div>
                        <div>
                            <p class="small-text">emilyjustinefan@gmail.com</p>
                        </div>
                            <ul class="list-inline">
                                {% for network in site.social %}
                                <li>
                                    <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                                </li>
    		                    {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="copyright">Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
