    <!-- Header -->
    <header>
        <div class="container">
            <div class="buffer-container row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <div>
                            <span class="name">{{ site.title }}</span>
                        </div>
                        <div>
                            <span class="skills small-text">web developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>