    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/light102.svg" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
        
                        <span class="skills">Web Developer  |  Toronto, Canada
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>